# Python
__pycache__/
*.egg-info/
build/
.venv/
.pytest_cache/

# Config with credentials
server/wifi.toml

# Data
data/
panel/tmon_mock.db

# Build artifacts

# PlatformIO
.pio/

# Generated docs
README.html
docs/**/*.html

# Tags
TAGS
